# ==========================
# Dependencias
# ==========================
node_modules/

# ==========================
# Variables de entorno
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*

# ==========================
# Archivos temporales
# ==========================
tmp/
temp/

# ==========================
# Archivos generados
# ==========================
dist/
build/

# ==========================
# Cobertura de pruebas
# ==========================
coverage/

# ==========================
# Configuración de VS Code
# ==========================
.vscode/

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db